$text-colors:(
    black-color: #000000,
    light-blue-color: #7C5BFF,
    light-gray-color: #6F6C90,
    white-color: white,
    light-black-color: #30313D,
    blue-color: blue
);
// $plan-p-color: #000000;
// $upper-p-color: #6F6C90;
// $plan-button-color: #7C5BFF;
// $span-color: #000000;
// $list-color: #6f6c90;
// $button-hover-color: white;
// $grid-first-row-color: #30313D;
// $grid-last-line-color: blue;
